*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items:center;
  color: whitesmoke;
}

.clock{
  width: 300px;
  height: 300px;
  background-color: black;
  border-radius: 50%;
  position: relative;
}

.clk{
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  top: 130px;
  left:130px;
}

.c12{
  top: 10px;
}

.c1{
  top: 20px;
  left: 200px;
}

.c2{
  top: 70px;
  left: 240px;
}


.c3{
  left: 270px;
}

.c4{
  top: 190px;
  
  left: 250px
}

.c5{
  top: 240px;
  left: 200px;
}

.c6{
  top: 260px;
  left: 140px;
}

.c7{
  top: 240px;
  left: 80px;
}

.c8{
  top: 190px;
  left: 30px;
}

.c9{
  left: 10px;
}

.c10{
  top: 70px;
  left: 30px;
}

.c11{
  top: 20px;
  left: 70px;
}

.hr{
  width: 80px;
  height: 5px;
  background: white;
  top: 143px;
  left: 145px;
   animation: tick 216000s steps(60,end) infinite;
  transform-origin: 0;
}

.min {
  width: 100px;
  height: 3px;
  background: white;
  top: 143px;
  left: 145px;
   animation: tick 3600s steps(60,end) infinite;
  transform-origin: 0;
}

.sec {
  width: 120px;
  height: 1px;
  background: white;
  top: 143px;
  left: 145px;
  animation: tick 60s steps(60,end) infinite;
  transform-origin: 0;
}

.dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  top: 140px;
  left: 140px;
}

@keyframes tick {
  from{
    transform: rotateZ(-90deg);
  }
  to{
    transform: rotateZ(270deg);
  }
}